* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

header {
    width: 100%;
    position: fixed;
    z-index: 20;
}
/* TOP NAVBAR STYLES */
nav.navbar {
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #1d2a35;
}

nav.navbar .left-container, .right-container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


/* LEFT SIDE COMPONENTS IN NAVBAR STYLES */
nav.navbar .left-container .logo-container {
    height: 3.3rem;
    width: auto;
    padding: 0.4rem;
}
nav.navbar .left-container .logo-container img {
    height: 100%;
    width: 100%;
}

nav.navbar .left-container .nav-items {
    height: 100%;
    display: flex;
}
nav.navbar .left-container .nav-items .nav-link {
    color: #ddd;
    padding: 0 1.2rem;
    display: block;
    height: 100%;
    line-height: 3.8rem;
    text-decoration: none;
}

nav.navbar .left-container .nav-items .nav-link:hover{
    background-color: #04AA6D;
}

.search-box {
    position: relative;
}
.search-box #search {
    height: 2.3rem;
    width: 11rem;
    border-radius: 2rem;
    border: none;
    padding: 0 1.4rem;
}
.search-box #search::placeholder {
    font-style: italic;
    font-size: 0.9rem;
}
.search-box #search:focus {
    outline: 3px solid #04AA6D;
}
.search-box .ri-search-line {
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    top: 50%;
    right: 0;
    transform: translatey(-50%);
    font-size: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.search-box .ri-search-line:hover {
    background-color: #e8e8e8;
}

.left-container .theme{
    margin-left: 1rem;
    height: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(to right, #333 50%, #f2f2f2 50%);
    border: 3px solid #f2f2f2;
}


/* RIGHT SIDE COMPONENTS IN NAVBAR STYLES */
nav.navbar .right-container > *{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
nav.navbar .right-container .nav-link, .auth-link{
    height: 2.5rem;
    color: #ddd;
    padding: 0 1.2rem;
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* background-color: #04AA6D; */
}
nav.navbar .right-container .nav-link {
    gap: 0.5rem;
}
nav.navbar .right-container .nav-link i {
    font-size: 1.2rem;
    color: #9763f6;
}
nav.navbar .right-container .nav-link:hover{
    background-color: #38444d;   
}

.auth-items > * {
    min-width: 5.5rem;
}
.auth-items {
    position: relative;
}
.auth-items .signup{
    background-color: #04AA6D;
    z-index: 2;
}
.auth-items .login {
    width: 7rem;
    background-color: #d9eee1;
    color: #333;
    margin-left: -2.7rem;
    padding-right: 0;
    z-index: 1;

}

.auth-items .login:hover {
    background-color: #059862;
    color: #fff;
}
/* -------------End of Main Navbar styles --------- */
/* ----------------------------------------------------- */



/* SUB NAVBAR STYLES */
nav.sub-navbar {
    position: relative;
    height: 2rem;
    background-color: #333;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
} 

nav.sub-navbar .language {
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    text-wrap: nowrap;
    color: #ddd;
    padding: 0 0.93rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav.sub-navbar .language:hover{
    background-color: #000;
}

nav.sub-navbar .language.active {
    background-color: #04AA6D;
}

/* -------------End of Sub Navbar styles --------- */
/* ----------------------------------------------------- */



/* SIDEBAR STYLES */
aside.sidebar {
    position: fixed;
    top: 5.8rem;
    width: 220px;
    height: calc(100svh - 5.8rem);
    background-color: #15202b;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #38444d #15202b;
}
aside.sidebar p{
    font-size: 1.1rem;
    color: #ddd;
    padding: 1.5rem 1px 0.6rem 16px;

}

aside.sidebar a{
    text-decoration: none;
    color: #ddd;
    padding: 4px 1px 4px 16px;
    font-weight: lighter;
}
aside.sidebar a:hover {
    background-color: #38444d;
}
aside.sidebar a.active {
    background-color: #04AA6D;
}

/* -------------End of Sidebar styles --------- */
/* ----------------------------------------------------- */


/* MAIN Block STYLES */

main {
    position: relative;
    left: 220px;
    top: 5.8rem;
    min-height: 100svh;
    width: calc(100% - 220px);
    color: #ddd;
    padding: 0.7rem;
    background-color: #1d2a35;
    overflow-y: scroll;
    scrollbar-width: none;
}

main .title {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 1rem 2rem 1.4rem 2rem;
}

main .page-navigators {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .page-navigators a {
    text-decoration: none;
    color: #f3f3f3;
    background-color: #04AA6D;
    padding: 0.45rem 1.2rem;
    border: none;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .page-navigators a i {
    font-size: 2rem;
}

main hr {
    margin: 1.45rem 0;
    border: 1px solid #f0f0f031;
}

main .page-navigators,
main > p, h3 {
    margin: 0 2rem;
}

main h3 {
    font-size: 1.6rem;
    font-weight: 500;
}
main ul {
    margin: 1rem 4rem;
}
main ul li {
    margin: 0.4rem 0;
}

main .example-box {
    width: 100%;
    background-color: #38444d;
    border-radius: 0.3rem;
    margin-top: 2rem;
}
main .example-box .title {
    display: flex;
}
main .example-box span {
    width: 100%;
    font-size: 1.4rem;
}

main .example-box .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    padding: 0 2rem 2rem 2rem;
}

main .example-box .code, .output {
    background-color: #ddd;
    color: #333;
    height: 20rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
    overflow: scroll;
    scrollbar-width: none;
}
main .example-box .code {
    background-color: #15202b;
    color: #f2f2f2c5;
}
main .example-box .code code {
    all: inherit;
    font-size: 1.2rem;
}

main .example-box .output > * {
    font-size: 1.2rem;
}

/* -------------End of main block styles --------- */
/* ----------------------------------------------------- */
